<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Chats</title>
  <link rel="stylesheet" href="../../node_modules/normalize.css/normalize.css">
  <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
  <a id="boton-menu" class="boton-menu">#</a>
  <section class="cuerpo" id="cuerpo">
    <webview src="https://web.whatsapp.com/" autosize="on" id="whatsapp-d" class="visual no"></webview>
    <webview src="https://www.messenger.com/" autosize="on" id="messenger-d" class="visual no"></webview>
    <webview src="https://talky.io/" autosize="on" id="talky-d" class="visual no"></webview>
    <webview src="https://web.telegram.org/" autosize="on" id="telegram-d" class="visual no"></webview>
    <webview src="https://slack.com/signin/" autosize="on" id="slack-d" class="visual no"></webview>
    <webview src="https://hangouts.google.com/" autosize="on" id="hangouts-d" class="visual no"></webview>
    <webview src="https://web.skype.com" autosize="on" id="skype-d" class="visual no"></webview>
  </section>
  <aside class="menu" id="menu">
    <ul class="lista-menu">
      <li class="item" id="whatsapp">Whatsapp</li>
      <li class="item" id="messenger">Messenger</li>
      <li class="item" id="telegram">Telegram</li>
      <li class="item" id="talky">Talky.io</li>
      <li class="item" id="slack">Slack</li>
      <li class="item" id="hangouts">Hangouts</li>
      <li class="item" id="skype">Skype</li>
    </ul>
  </aside>
</body>
<script></script>
<script src="../js/scripts.js"></script>
</html>
